:root {
  --bg: #f6f6f6;
  --surface: #ffffff4f;
  --fg: #708090;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: var(--fg);
  display: flex;
  justify-content: center;
  height: 100dvh;
  padding: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  color: var(--bg);
  font-size: 1.4rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

i {
  font-size: 2rem;
}

label {
  display: grid;
  gap: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  display: grid;
  background: var(--surface);
  padding: 20px;
  border-radius: 12px;

  width: 100%;
  max-width: 500px;

  height: 100%;
  max-height: 100dvh;

  overflow-y: auto;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: start;
  font-size: 3rem;
  margin-bottom: 15px;
}

.code-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.manual-code {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

input {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--fg);
  width: 100%;
  height: 64px;
  padding: 0px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 0.9rem;
  color: var(--fg);
}

.scan-btn {
  background: #00ffff;
}

.manual-btn {
  background: #ffffff;
  width: 64px;
  height: 64px;
}

.save-btn {
  background: #8c4eff;
}

#scanner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#scanner {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
  background: black;
}

/* Estilo para o overlay de mira */
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 2px;
  background-color: rgba(255, 0, 0, 0.5); /* Linha vermelha clássica */
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
  z-index: 10;
  display: none; /* Só aparece quando o scanner abrir */
  pointer-events: none; /* Não interfere nos cliques */
}

/* Uma moldura opcional para o scanner */
#scanner::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  z-index: 5;
  pointer-events: none;
}

/* video {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  display: none;
} */

pre {
  background: #020617;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 6px;
  max-height: 150px;
  overflow: auto;
}
